// (Все страницы) Шапка

.header {
	margin-bottom: 30px;
	background-color: $light;
	@include r(1200) {
		display: none;
	}
	&--mob {
		display: none;
		@include r(1200) {
			display: block;
		}
	}
	&--fixed {
		position: fixed;
		top: 0px;
		left: 0px;
		right: 0px;
		z-index: 2;
		.header-top {
			display: none;
		}
	}
}

.header-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 4px solid $dark;
	padding-top: 15px;
	padding-bottom: 15px;
	position: relative;
	z-index: 3;
	background-color: $light;
	@include r(1200) {
		padding-top: 8px;
		padding-bottom: 8px;
		border-bottom: 1px solid #F6F7FB;
	}
	&__logo {
		display: block;
		img {
			display: block;
			width: 236px;
			@include r(1200) {
				width: 112px;
			}
		}
		&:hover {
			opacity: 0.7;
		}
	}
}

.header-middle {
	padding: 0px;
	border-bottom: 1px solid #F6F7FB;
	transition: 0.3s all;
	opacity: 0;
	visibility: visible;
	max-height: 0px;
	&--open {
		opacity: 1;
		padding-top: 8px;
		padding-bottom: 8px;
		visibility: visible;
		max-height: 150px;
	}
}

.header-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 3px;
	border-bottom: 1px solid $dark;
	position: relative;
	z-index: 3;
	background-color: $light;
	padding-top: 3px;
	@include r(1200) {
		padding-top: 8px;
		padding-bottom: 8px;
		border-bottom: 1px solid #F6F7FB;
	}
	// &--mob {
	// 	@include r(1200) {
	// 		border-bottom: none;
	// 	}
	// }
	&__nav {
		display: flex;
		justify-content: space-between;
		flex-grow: 1;
		padding-right: 80px;
	}
	&__link {
		padding-top: 10px;
		padding-bottom: 10px;
		color: $dark;
		text-decoration: none;
		display: inline-block;
	}
	&__btn {
		height: 28px;
		width: 28px;
		border: none;
		background: none;
		svg {
			display: block;
			height: 100%;
			width: 100%;
			&:nth-child(2) {
				display: none;
			}
		}
		&--opened {
			svg {
				&:nth-child(1) {
					display: none;
				}
				&:nth-child(2) {
					display: block;
				}
			}
		}
	}
}

.header-progress {
	overflow: hidden;
	&__line {
		height: 3px;
		background-color: $accent;
		display: block;
	}
}

.header-menu {
	position: fixed;
	height: 100vh;
	left: 0px;
	right: 0px;
	bottom: 100%;
	background-color: $light;
	display: block;
	z-index: 2;
	padding-top: 93px;
	padding-bottom: 28px;
	padding-left: 16px;
	padding-right: 16px;
	transition: 0.3s all;
	visibility: hidden;
	&--opened {
		bottom: 0%;
		visibility: visible;
	}
	&__nav {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	&__link {
		width: 100%;
		display: block;
		justify-content: space-between;
		flex-grow: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		color: $dark;
		border-bottom: 1px solid #F6F7FB;
		&:last-of-type {
			border-bottom: none;
		}
		&:hover {
			opacity: 0.7;
		}
	}
}

.toolbar {
	display: flex;
	align-items: center;
	&__socials {
		display: flex;
		align-items: center;
	}
	&__link {
		display: block;
		height: 30px;
		width: 30px;
		margin-right: 20px;
		@include r(1200) {
			height: 26px;
			width: 26px;
		}
		&:last-of-type {
			margin-right: 0px;
		}
		svg {
			height: 100%;
			width: 100%;
			display: block;
		}
	}
	&__separator {
		width: 1px;
		background-color: #82928D;
		height: 30px;
		display: block;
		margin-left: 30px;
		margin-right: 30px;
	}
	&__languages {

	}
	&__lang {
		text-decoration: none;
		opacity: 0.5;
		&--active {
			color: $dark;
			opacity: 1;
			pointer-events: none;
		}
	}
}