// (Главная страница) Новость-полоска

.article-line {
	color: $dark;
	text-decoration: none;
	display: block;
	padding-bottom: 20px;
	border-bottom: 1px dashed #00D89E;
	margin-bottom: 20px;
	break-inside: avoid-column;
	page-break-inside: avoid;
	&:hover {
		opacity: 0.7;
	}
	@include r(1200) {
		padding-bottom: 10px;
		padding-bottom: 10px;
	}
	&__time {
		display: inline-block;
		font-family: $font-title;
		color: $light;
		background-color: $accent;
		padding-left: 5px;
		padding-right: 5px;
		margin-right: 10px;
		@include r(1200) {
			margin-right: 3px;
		}
	}
	&__text {

	}
}