// (Страница контактов) Блок контактов

.contacts {
	&__content {
		display: flex;
		justify-content: space-between;
		@include r(780) {
			display: block;
		}
	}
	&__column {
		&--left {
			width: calc(100% / 12 * 6 - 15px);
			@include r(780) {
				width: 100%;
			}
		}
		&--right {
			width: calc(100% / 12 * 6 - 15px);
			@include r(780) {
				width: 100%;
			}
		}
	}
	&__text {
		&--accent {
			background-color: #F6F7FB;
			font-style: italic;
			padding: 21px 100px 24px 34px;
			position: relative;
			@include r(780) {
				width: 100%;
				padding: 22px 0px 24px 16px;
			}
			&:before {
				@include r(780) {
					position: absolute;
					width: 300%;
					z-index: -1;
					background-color: #F6F7FB;
					top: 0px;
					bottom: 0px;
					left: -100%;
					display: block;
					content: "";
				}
			}
			&:after {
				content: "";
				top: 21px;
				bottom: 24px;
				left: 16px;
				width: 2px; 
				background-color: $accent;
				position: absolute;
				display: block;
				@include r(780) {
					left: 0px;
				}
			}
		}
	}
}