svg, a {
	transition: 0.3s all;
}

* {
	outline-color: #007b39;
}

svg, img {
	display: block;
}

.icon-svg {
	height: 1rem;
	width: 1rem;
}


.body {
	font-family: $font-main;
	font-size: 16px;
	line-height: 1.5;
	overflow-x: hidden;
	background-color: $light;
	color: $dark;
	// -webkit-font-smoothing: antialiased!important;
	// text-rendering: optimizeLegibility!important;
	@include r(1200) {
		
	}
}