// (Все страницы) Лейаут сайта и основные структурные блоки

.container {
	max-width: 1170px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.section {
	margin-bottom: 45px;
	overflow-x: hidden; 
	&--bottom {
		margin-bottom: 35px;
	}
	&--breadcrumbs {
		@include r(1200) {
			display: none;
		}
	}
	&--person {
		@include r(780) {
			margin-bottom: 20px;
		}
	}
}

.articles {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	&--around {
		justify-content: space-around;
	}
}

.articles-lines {
	column-count: 2;
	@include r(1200) {
		column-count: auto;
	}
}

.clear {
	height: 0px;
	padding: 0px;
	margin: 0px;
	width: 100%;
	&--25 {
		width: calc(25% - 15px);
	}
}