.title {
	border-bottom: 4px solid $accent;
	font-family: $font-title;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 30px;
	@include r(1200) {
		margin-bottom: 15px;
	}
	&__text {
		position: relative;
		display: inline-block;
		&:after {
			content: "";
			position: absolute;
			top: 100%;
			left: 0px;
			height: 4px;
			background-color: $dark;
			width: 100%;
		}
	}
}

.to-top {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	&__link {
		text-decoration: none;
		display: flex;
		font-weight: 500;
		align-items: center;
		@include r(1200) {
			position: fixed;
			right: 15px;
			bottom: 15px;
		}
		&:hover {
			opacity: 0.7;
		}
	}
	&__text {
		color: $dark;
		font-weight: 500;
		margin-right: 12px;
		@include r(1200) {
			display: none;
		}
	}
	svg {
		height: 30px;
		width: 30px;
		display: block;
		filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.2));
	}
}

.form {
	&__columns {
		display: flex;
		justify-content: space-between;
		@include r(1200) {
			display: block;
		}
	}
	&__column {

		&--left {
			width: calc(100% / 12 * 8 - 15px);
			@include r(1200) {
				width: 100%;
				margin-bottom: 10px;
			}
		}
		&--right {
			width: calc(100% / 12 * 4 - 15px);
			@include r(1200) {
				width: 100%;
			}
		}
	}
	&__btn {
		border-radius: 6px;
		background-color: $accent;
		color: $dark;
		font-weight: 500;
		padding-top: 10px;
		padding-bottom: 10px;
		width: 100%;
		&:hover {
			opacity: 0.7;
		}
		@include r(1200) {
			max-width: 420px;
			width: 100%;
		}
	}
}

.textarea {
	display: block;
	position: relative;
	&--focus {
		@include r(1200) {
			.input__title {
				font-size: 9px;
				color: #648179;
				transform: none;
				top: 3px;
			}
			.input__field {
				padding-top: 5px;
			}
		}
	}
	&--grow {
		height: 100%;
		display: flex;
		flex-direction: column;
		.textarea__field {
			flex-grow: 1;
		}
	}
	&__title {
		color: #648179;
		margin-bottom: 10px;
		@include r(1200) {
			position: absolute;
			top: 8px;
			left: 8px;
			cursor: pointer;
		}
	}
	&__field {
		background: #F6F7FB;
		box-sizing: border-box;
		height: 100%;
		border-radius: 4px;
		border: none;
		display: block;
		width: 100%;
		resize: none;
		font-family: $font-main;
		padding: 10px 8px;
		@include r(1200) {
			min-height: 200px;
		}
		&::placeholder {
			color: #648179;
		}
	}
}

.input {
	margin-bottom: 20px;
	display: block;
	position: relative;
	&:last-of-type {
		margin-bottom: 29px;
	}
	&--focus {
		@include r(1200) {
			.input__title {
				font-size: 9px;
				color: #648179;
				transform: none;
				top: 3px;
			}
			.input__field {
				padding-top: 5px;
			}
		}
	}
	&__title {
		color: #648179;
		margin-bottom: 10px;
		transition: 0.3s all;
		@include r(1200) {
			position: absolute;
			top: 50%;
			left: 8px;
			transform: translateY(-50%);
			cursor: pointer;
		}
	}
	&__field {
		background: #F6F7FB;
		border-radius: 4px;
		border: none;
		font-weight: 500;
		font-size: 18px;
		height: 40px;
		padding-left: 8px;
		padding-right: 8px;
		display: block;
		width: 100%;
		box-sizing: border-box;
	}
}