.title {
	border-bottom: 4px solid $accent;
	font-family: $font-title;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 30px;
	&__text {
		position: relative;
		display: inline-block;
		&:after {
			content: "";
			position: absolute;
			top: 100%;
			left: 0px;
			height: 4px;
			background-color: $dark;
			width: 100%;
		}
	}
}